version: 4.0.{build}.0
image: Visual Studio 2019
platform:
- Win32
- x64
configuration:
- Release_LIB
install:
- cmd: git submodule update --init --recursive
before_build:
- cmd: .\prepare-deps.bat
- ps: Invoke-WebRequest "https://downloads.nefarius.at/other/nefarius/vpatch/vpatch.exe" -OutFile vpatch.exe
- cmd: vpatch.exe --stamp-version "%APPVEYOR_BUILD_VERSION%" --target-file ".\src\Indicium-Supra\Indicium-Supra.rc" --resource.file-version --resource.product-version
- cmd: vpatch.exe --stamp-version "%APPVEYOR_BUILD_VERSION%" --target-file ".\samples\Indicium-ImGui\Indicium-ImGui.rc" --resource.file-version --resource.product-version
- cmd: vpatch.exe --stamp-version "%APPVEYOR_BUILD_VERSION%" --target-file ".\samples\Indicium-FW1FontWrapper\Indicium-FW1FontWrapper.rc" --resource.file-version --resource.product-version
build:
  project: $(APPVEYOR_BUILD_FOLDER)\$(APPVEYOR_PROJECT_NAME).sln
artifacts:
- path: 'bin\**\*.dll'
  name: Indicium-Supra
deploy:
- provider: Environment
  name: BUILDBOT
  on:
    appveyor_repo_tag: true
cache:
- vcpkg_installed
